*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
}
.head{
    background-image:linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url('../images/donation13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}
.header-container{
    padding: 200px 200px 0px 200px;
}
.header-container p{
    font-weight: 400;
    font-size: 18px;
    color:#fff;
    text-align: center;
    font-family: 'Poppins';
    padding: 20px 80px 30px 80px;
}
.header-text{
    font-weight: 700;
    font-size: 65px;
    color: #fff;
    text-align: center;
}
.orange-btn{
    background: #FF5959;
    border-radius: 5px;
    border: none;
    padding: 10px 12px;
    gap: 8px;
    position: absolute;
    top: 450px;
    left: 45%;
}
.donate{
    align-items: center;
    text-align: center;
    padding-top: 130px;
}
.donate p{
    padding: 20px 250px 50px 250px;
}
.donate form{
    padding-top: 30px;
}
#amount{
    height: 44px;
    border: none;
    overflow: hidden;
}
#amount:focus {
    outline: none;
}
#amount::-moz-focus-inner {
    border: 0;
}
#amount option{
    width: 60px;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    color: rgb(204, 204, 0);
}
#amount: select{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.orange-btn2{
    background: #FF5959;
    border-radius: 5px;
    border: none;
    padding: 10px 12px;
    gap: 8px;
    position: absolute;
    top: 950px;
    left: 45%;
}